<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .gradient1 {
            background: #fefcea;
            background: linear-gradient(to left, purple,darkblue);
            padding: 10px;
            border: 1px solid rgb(103, 27, 173);
        }

        .gradient2 {
            background: #fefcea;
            background: linear-gradient(to bottom, purple,aqua);
            border: 1px solid rgb(103, 27, 173);
        }

        td, th, tr {
            border: solid 5px;
            background-color: thistle;
        }
    </style>
</head>
<body class="gradient1">
    <header class="gradient2">
        <div>
            <p style="color:white;font-size: 55px;text-align: center;font-style: italic;">Испытай удачу</p>
            <p style="color:white;font-size: 45px;text-align: center;font-style: italic;">Поставь на любимую команду</p>
            <img src="~/Content/Images/ball.jpg" style="position: absolute; left: 87.5%; width: 150px;height: 100px;top: 3%;" />
        </div>
    </header>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
